html, body{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(60, 60, 60);
    color: whitesmoke;
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: center;
}

h1 {
    color: white;
    font-style: italic;
}

#calculadora{
    margin: 20px;
    border: 10px groove rgb(114, 114, 114);
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}